@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import ngx-toastr styles */
@import 'ngx-toastr/toastr';

/* Custom Global Styles */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}